.container{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: black;
}

#status{
    color: aliceblue;
}

.flex{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo{
    width: 40%;
    display: flex;
}
img{
    width: 100%;
}
.titulo{
    color: rgb(0,0,0);
}
.flexL{
    background: rgb(65,105,225);
    background: radial-gradient(circle, rgba(65,105,225,1) 35%, rgb(144, 171, 252) 93%);
    border: 1px solid black;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 25%;
}
#texto{
    color: rgb(0,0,0);
    font-size: large;
    text-align: center;
}
.icone{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.icon{
    width: 36px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: -20px;
}
.icon1{
    width: 36px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: -20px;
}
.icon2{
    width: 36px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: -20px;
}
.icon3{
    width: 36px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: -20px;
}
.icon4{
    width: 36px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: -20px;
}
.Icon{
    border: 2px solid black;
    padding: 5px 0px;
    text-align: center;
    background: rgb(65,105,225);
    color: black;
    position: relative;
}
.icone a i:hover{
    background-color: rgba(96, 172, 235, 0.95);
    padding: 5px;
    transition: 0.5s;
}
.Icone:after{
    content: '';
    background: #7d540861;
    position: absolute;
    left: 0;
    width: 19px;
    height: 20px;
    border-radius: 50px 0px 0px 50px;
    top: 0;
    transform: rotate(45deg);
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
a.navItem{
    color: gray;
    text-decoration: none;
    font-size: 20px;
    margin: 20px 0px;
}
.flexx .nav a:hover{
    background-color: rgb(65,105,225);
    color: rgb(251, 248, 248);
    border-radius: 4px;
    padding: 3px;
    transition: 0.7s;
}
.flexx{
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media only screen and (max-width: 600px){
    .flex.flexL{
        border-bottom-right-radius: 25%;
        border-bottom-left-radius: 25%;
        border-top-right-radius: 0; 
    }
    .container{
        flex-direction: column;
    }
    .flexx{
        flex-direction: column-reverse;
    }
    .icone{
        flex-direction: row;
    }
    .Icon{
        top: 0 !important;
    }
    .icon{
        left: -2rem;
    }
    .icon1{
        left: -1rem;
    }
    .icon2{
        left: 0rem;
    }
    .icon3{
        left: 1rem;
    }
    .icon4{
        left: 2rem;
    }
    .nav{
        margin-top: 25px;
    }
}


.textoStatusProjeto{
    display: flex;
    align-items: center;
    
    
}
.logoCone{
    width: 40px;     
}

.fotoPerfil{
    border-radius: 60px;
}
